@model GameStore.Models.Screenshot

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Screenshot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.ID)
        </dd>
        <dt class = "col-sm-2">
            Логотип
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Редагувати</a>
    
</div>
